@import url(./variable.css);

@import url(./reset.css);

*{
    font-family: 'Montserrat', sans-serif !important;
}

#header{
    display: flex;
    height: 10vh;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

nav{
    position: fixed;
    top: -250px;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 250px;
    background: var(--rich-black-fogra-29);
}

nav.active{
    top: 0;
}

.menuIcons{
    /* width: 30%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.menuIcon{
    margin-right: 15px;
    cursor: pointer;
}

.search {
    background: var(--oxford-blue);
    font-weight: var(--fw-5);
    font-size: var(--fs-sm);
    border-radius: 20px;
    padding: 5px 12px;
    display: flex;
    flex-direction: row;
    flex: 0 1 60%;
    max-width: 60%;
}

.search input{
    color: var(--white);
    width: 100%;
}

.signIn{
    display: flex;
    cursor: pointer;
    /* justify-content: space-between; */
    align-items: center;
    flex: 0 1 36%;
    max-width: 36%;
    /* white-space: nowrap; */
}

.nav-bar-search-signin{
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: space-between;
}

.live {
    position: relative;
}

.live::after{
    content: "";
    position: absolute;
    right: -10px;
    top: 10px;
    border-radius: 50%;
    background: var(--live-indicator);
    width: 5px;
    height:5px;
    box-shadow: 0 0 0 4px var(--live-indicator-shadow);
}

#hero{
    /* background-image: url('../../images/John-Wick-3.jpg'); */
    width: 100%;
    height: 55vh;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 60px;
    position: relative;
    padding: 0 !important;
}

#hero img{
    border-radius: 10px;
    object-fit: cover;
    object-position: top;
}

#hero:hover img{
    transform: scale(1.1);
}

.heroContent{
    position: absolute;
    bottom: 60px;
    left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.heroData{
    display: flex;
    /* justify-content: space-between; */
    flex-direction: row;
    align-items: center;
    margin-bottom: 7px;
    /* width: 70%; */
}

.heroData .data{
    margin-right: 20px;
    display: flex;
    /* flex: 0 1 15%; */
    align-items: center;
    flex-direction: row;
}

.heroData .display{
    padding: 2px 5px;
    background-color: var(--azure);
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    font-weight: var(--fw-7);
}

.heroName{
    font-weight: var(--fw-7);
}

.filter-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--oxford-blue);
    padding: 20px 30px;
    border-radius: 20px;
    margin-bottom: 30px;
}

.filter-dropdowns{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.dropdown{
    margin-right: 15px;
}

.dropdown .btn{
    background-color: transparent !important;
}

.genreFilter, .yearFilter{
    color: var(--white);
    font-size: var(--fs-sm);
    margin-right: 15px;
    cursor: pointer;
}

.filter option{
    background: var(--oxford-blue);
}

.filter-radios {
  position: relative;
  background: var(--rich-black-fogra-29);
  padding: 10px;
  border-radius: 15px;
}

.filter-radios input { display: none; }

.filter-radios label {
  position: relative;
  margin: 0 10px;
  font-size: var(--fs-sm);
  user-select: none;
  cursor: pointer;
  z-index: 10;
}

.filter-radios input:checked + label,
.filter-radios label:hover { color: var(--light-azure); }

#movies{
    display: grid;
    margin-bottom: 60px;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
}

.movie-card-body{
    margin-top: 7px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}

.movie-card-body .movie-title{
    font-size: var(--fs-md);
    font-weight: var(--fw-5);
    color: var(--white);
}

.movie-info{
    display: flex;
    flex-direction: row;
    font-size: var(--fs-x-sm);
    font-weight: var(--fw-5);
    justify-content: space-between;
    width: 100%;
}

.movie-card-head img{
    width: 100%;
    /* height: auto; */
    /* aks bayad hamishe 100% va height auto bashad */
}

.movie-card-head{
    height: 250px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
}

.movie-card{
    cursor: pointer;
}

.card-overlay{
    opacity: 0;
    position: absolute;
    inset: 0;
    backdrop-filter: blur(5px);
    border-radius: 20px;
}

.movie-card-head:hover img{
    transform: scale(1.8);
}

.movie-card:hover .card-overlay{
    opacity: 1;
}

.card-overlay .bookmark{
    position: absolute;
    top: 20px;
    left: 10px;
    padding: 3px 5px;
    background: var(--oxford-blue-50);
    border-radius: 7px;
    color: var(--light-azure);
}

.card-overlay .bookmark:hover ion-icon{
    fill: var(--yellow);
    color: var(--yellow);
}

.card-overlay .rating{
    position: absolute;
    color: var(--light-azure);
    top: 20px;
    right: 10px;    
    padding: 5px 10px;
    background: var(--oxford-blue-50);
    border-radius: 7px;
}

.card-overlay .play{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.card-overlay .play ion-icon{
    width: 55px;
    height: 55px;
}

#loadMore{
    padding: 20px 50px;
    background: var(--oxford-blue);
    font-size: var(--fs-sm);
    font-weight: var(--fw-5);
    margin: auto;
    display: block;
    border-radius: 15px;
    color: var(--white);
}

#loadMore:hover{
    background: var(--azure);
    color: var(--white);
}

#category{
    display: flex;
    flex-direction: column;
}

.category-header{
    margin-bottom: 30px;
    font-size: var(--fw-5);
    font-size: var(--section-heading);
}

.eachCategory{
    position: relative;
    cursor: pointer;
    border-radius: 20px;
    height: 150px;
}

.categoryInfo{
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 100%;
    bottom: 25px;
    color: var(--white);
}

.categoryName{
    font-size: 20px;
    z-index: 10;
}

.eachCategory img{
    border-radius: 20px;
}

.categorycount{
    font-size: 18px;
    background: var(--oxford-blue-50);
    padding: 5px 8px;
    border-radius: 8px;
    z-index: 10;
}

.eachCategory:hover{
    transform: scale(1.1);
}

.eachCategory:hover .categoryName{
    color: var(--azure);
}

.categoryGrid{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
}

.eachCategory::after{
    content: '';
    position: absolute;
    background: linear-gradient(180deg, transparent 30%, #000a);
    /* 0 degree means to top */
    /* percentage means where should we change from left color to right color (100% means no change) */
    top: 0;
    left: 0;
    /* inset : 0 */
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

#shows{
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
}

.showsHeader{
    margin-bottom: 30px;
    font-size: var(--fw-5);
    font-size: var(--section-heading);
}

.showsFlex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.showData{
    display: flex;
    margin-top: 12px;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.eachShow{
    flex: 0 1 30%;
}

.showHead{
    height: 250px;
    cursor: pointer;
    border-radius: 20px;
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
}

.showHead::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    border-radius: 20px;
    background: linear-gradient(180deg, transparent 20%, #000a);
}

.showHead img{
    border-radius: 20px;
}

.showHead:hover img{
    transform: scale(1.4);
}

.channelIcon{
    border-radius: 15%;
    flex: 0 1 10%;
    width: 10%;
    margin-right: 10px;
}

.live-badge{
    position: absolute;
    top: 30px;
    left: 30px;
    padding: 5px 10px;
    background: var(--live-indicator);
    font-size: var(--fs-x-sm);
    font-weight: var(--fw-6);
    border-radius: 5px;
}

.total-viewers{
    position: absolute;
    bottom: 30px;
    border-radius: 5px;
    z-index: 10;
    left: 30px;
    padding: 5px 10px;
    background: var(--oxford-blue-50);
    font-size: 15px;
    font-weight: var(--fw-6);
}

.showData .showName{
    font-size: var(--fs-md);
    cursor: pointer;
    font-weight: var(--fw-5);
}

#footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 60px;
}

#footer .description{
    flex: 0 1 30%;
    max-width: 30%;
    display: flex;
    flex-direction: column;
    margin-right: 120px;
    justify-content: left;
}

#footer .description img {
    width: 100px;
    height: 21px;
    margin-bottom: 30px;
}

.socialMedia{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#footer .description .siteDesc{
    font-size: var(--fs-sm);
}

.social-icon{
    /* max-width: 22%;
    flex: 0 1 25%; */
    cursor: pointer;
}

.socialMedia ion-icon{
    font-size: 25px;
}

.footer-columns{
    display: grid;
    width: 100%;
    align-items: flex-end;
    gap: 25px;
    grid-template-columns: repeat(4, 1fr);
}

.footer-col-header{
    font-weight: var(--fw-7);
    margin-bottom: 20px;
    font-size: var(--fs-md);
    cursor: pointer;
}

.footer-col-data{
    cursor: pointer;
    font-size: var(--fs-sm);
}

.footer-col-data:hover{
    color: var(--azure);
}

.socialMedia ion-icon:hover{
    color: var(--azure);
}
.copy-right{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 30px;
}

.copy-right .rules{
    display: flex;
    flex-direction: row;
}

.copy-right .rules p{
    margin-left: 15px;
}

.hambergurMenu{
    display: none;
}

.showData .showName:hover{
    color: var(--azure);
}

.menuIcon:hover{
    color: var(--azure);
}

.movie-title:hover{
    color: var(--azure);
}

.heroData .data ion-icon{
    color: var(--azure);
}






